@{
    ViewData["Title"] = "Home Page";

}
    <main id="index">
        <section>
            <h3>Hi! this is my website</h3>
            <h1>You can <span class="change-text">  </span></h1>
        </section>
    </main>





